<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Linear Equation Solver</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'matrix_style.css' %}">
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
        <script>
            var step = 0;
            function clear_selections() {
                document.getElementById("swap-row1").value = "";
                document.getElementById("swap-row2").value = "";
                document.getElementById("add-row"  ).value = "";
                document.getElementById("add-row2" ).value = "";
                document.getElementById("add-k"    ).value = "";
                document.getElementById("mult-row" ).value = "";
                document.getElementById("mult-k"   ).value = "";
                document.getElementsByTagName("input")[0].checked = false;
                document.getElementsByTagName("input")[1].checked = false;
                document.getElementsByTagName("input")[2].checked = false;
                document.getElementById("n<->m"  ).style.display = "none";
                document.getElementById("n->n+km").style.display = "none";
                document.getElementById("n->kn"  ).style.display = "none";
            }
            function next_step() {
                if (document.getElementById("swap").checked) {
                    var row1 = document.getElementById("swap-row1").value;
                    var row2 = document.getElementById("swap-row2").value;
                    if (row1 != "" && row2 != "" && row1 != row2) {
                        step += 1;
                        document.getElementById('iframe').src = "/row_ops_iframe?op=n<->m&row1=" + row1 + "&row2=" + row2;
                        clear_selections();
                    }
                }
                if (document.getElementById("add").checked) {
                    var row2 = document.getElementById("add-row2").value;
                    var row  = document.getElementById("add-row" ).value;
                    var k    = document.getElementById("add-k"   ).value;
                    if (row != "" && row2 != "" && row != row2 && k != "") {
                        step += 1;
                        document.getElementById('iframe').src = "/row_ops_iframe?op=n->n+km&row=" + row + "&row2=" + row2 + "&k=" + k;
                        clear_selections();
                    }
                }
                if (document.getElementById("mult").checked) {
                    var row = document.getElementById("mult-row").value;
                    var k   = document.getElementById("mult-k"  ).value;
                    if (row != "" && k != "") {
                        step += 1;
                        document.getElementById('iframe').src = "/row_ops_iframe?op=n->kn&row=" + row + "&k=" + k;
                        clear_selections();
                    }
                }
            }
            function last_step() {
                if (step > 0) {
                    step -= 1;
                    document.getElementById('iframe').src = "/row_ops_iframe?op=undo";
                    clear_selections();
                }
            }
        </script>
    </head>
    <body>
        <h1 style="text-align: center;">Interactive row operations</h1>
        <!-- https://stackoverflow.com/questions/1192228/scrolling-an-iframe-with-javascript -->
        <!-- https://stackoverflow.com/questions/68793333/html-iframe-and-paragraph-on-the-same-line -->
        <div style="display:flex; flex-wrap:nowrap;">
            <div>
                <iframe id="iframe" src="/row_ops_iframe" width="150%" height="400px" style="resize: horizontal;"></iframe>
            </div>
            <div style="margin: auto;">
                <div id="row_op_selection">
                    <input type="radio" id="swap" name="row_op_type">
                    <label for="swap">Swap two rows</label><br>
                    <input type="radio" id="add" name="row_op_type">
                    <label for="add">Add some multiple a row to another</label><br>
                    <input type="radio" id="mult" name="row_op_type">
                    <label for="mult">Multiply a row by a non-zero constant</label><br><br><br>
                </div>
                <script>
                    document.getElementById("row_op_selection").addEventListener('change', function(e) {
                        if (e.target.id == "swap") {
                            document.getElementById("n<->m").style.display   = "";
                            document.getElementById("n->n+km").style.display = "none";
                            document.getElementById("n->kn").style.display   = "none";
                        }
                        if (e.target.id == "add") {
                            document.getElementById("n<->m").style.display   = "none";
                            document.getElementById("n->n+km").style.display = "";
                            document.getElementById("n->kn").style.display   = "none";
                        }
                        if (e.target.id == "mult") {
                            document.getElementById("n<->m").style.display   = "none";
                            document.getElementById("n->n+km").style.display = "none";
                            document.getElementById("n->kn").style.display   = "";
                        }
                    });
                </script>
                <div id="n<->m" style="display: none;">
                    Swap row
                    <select id="swap-row1">
                        <option value="" selected></option>
                        {% for i in range_m %}
                            <option value="{{i}}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                    and row
                    <select id="swap-row2">
                        <option value="" selected></option>
                        {% for i in range_m %}
                            <option value="{{i}}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>.
                </div>
                <div id="n->n+km" style="display: none;">
                    Add 
                    <input id="add-k" type="text" size="1">
                    times of row
                    <select id="add-row2">
                        <option value="" selected></option>
                        {% for i in range_m %}
                            <option value="{{i}}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                    to row 
                    <select id="add-row">
                        <option value="" selected></option>
                        {% for i in range_m %}
                            <option value="{{i}}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select> 
                </div>
                <div id="n->kn" style="display: none;">
                    Multiply row
                    <select id="mult-row">
                        <option value="" selected></option>
                        {% for i in range_m %}
                            <option value="{{i}}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                    by <input id="mult-k" type="text" size="1">
                </div>
                <br><br><br>
                <button type="button" onclick="last_step()">Last Step</button>
                <button type="button" onclick="next_step()">Next Step</button>
            </div>
        </div>
        
        <p style="text-align: center;">The style of these matrices is encoded using <a href="https://www.mathjax.org/" target="_blank">MathJax</a></p>
    </body>
</html>