<html>
    <head>
        <title>Weather</title>
        <meta charset="UTF-8">
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    </head>
    <body onLoad="window.scrollTo(0,10000)">
        $$
        \begin{align*}
        {% for i in range_n %}
            {% if not forloop.first %}
                \longrightarrow
            {% endif %}
            \begin{pmatrix}        
            {{i}} & 0 \\[4pt]
            0       & 0
            \end{pmatrix}&
            {% if not forloop.last %}
                \\
            {% endif %}
        {% endfor %}
        \end{align*}
        $$
    </body>
</html>